// section {
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
.custom-black-button {
	width: 110px;
	margin-left: 1000px;  // align the button to the right
	background-color: #000;
	color: #FFF;
}
// }
