<mat-toolbar color="primary">
  <a mat-button class="navbar-blog" [routerLink]="['/blogs']">{{ labels.myBlog }}</a>
  <div class="navbar-search" *ngIf="searchVisible">
    <input [formControl]="searchControl" type="text" placeholder="Search..." />
  </div>
  <nav class="navbar-links">
    <a mat-button (click)="changeLanguage('nl')">{{ labels.dutch }}</a>
    <a mat-button (click)="changeLanguage('en')">{{ labels.english }}</a>
    <a mat-button (click)="changeLanguage('en')">{{ labels.serbian }}</a>
  </nav>
  <div class="navbar-profile">
    <a mat-button [routerLink]="['/profile']">{{ labels.myProfile }}</a>
    <a mat-button routerLink="#">Logout</a>
  </div>
</mat-toolbar>
