$navbar-background-color: #000; // Pure black
$navbar-text-color: #FFF;
$navbar-hover-color: #CCC;
$navbar-brand-size: 1.1rem; // Slightly smaller font size for thinner appearance
$navbar-search-width: 200px; // Reduce search bar width
$navbar-height: 50px; // Adjust the height for a thinner navbar

.mat-toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $navbar-height;
	padding: 0 15px;
	background-color: $navbar-background-color;
	color: $navbar-text-color;

	.navbar-brand {
		margin-right: auto; // Move brand to the left
		color: $navbar-text-color;
		font-size: $navbar-brand-size;
		font-weight: 700;
	}

	.navbar-search {
		width: $navbar-search-width;
		margin-top: 10px;
		margin-left: auto;

		input {
			padding: 2px 5px; // Reduced padding for a smaller input
			border: 1px solid $navbar-hover-color;
			border-radius: 4px;
			background-color: #FFF; // Set background to white
			color: #000; // Set text color to black for contrast
			font-size: .8rem; // Smaller font size

			// Remove default focus outline
			&:focus {
				border-color: $navbar-hover-color; // Optional: Change border color on focus
				outline: none; // Remove the blue outline
			}
		}

		button {
			color: #000; // Ensure the search icon is visible
		}
	}

	.navbar-links {
		margin-left: 20px; // Adjust margin to space out links from the search bar
	}

	.navbar-profile {
		margin-left: 20px; // Adjust margin to space out profile links from the navbar links
	}

	a {
		margin-right: 15px;
		color: $navbar-text-color;
		font-size: .9rem;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			color: $navbar-hover-color;
		}
	}
}
