$breakpoints: (
	mobile: (description: 'sm', size: 480px ),
	tablet: (description: 'md', size: 768px ),
	desktop: (description: 'lg', size: 992px),
	largeDesktop: (description: 'xl', size: 1200px));

$primary: #000;
$accent: #EA518D;
$menu-background: #CC2E2E;

$default-gap: 16px;

$navbar-background-color: #000;
$navbar-text-color: #FFF;
$navbar-hover-color: #CCC;
$navbar-brand-size: 1.1rem;
$navbar-search-width: 200px;
$navbar-height: 10px;
