<div class="blog-post mat-elevation-z3" *ngIf="post">
  <div class="header">
    <img class="thumbnail" [src]="post.mainImage" alt="Thumbnail" />
    <div class="post-details">
      <h2 mat-line>{{ post.title }}</h2>
      <p class="post-meta">
        Posted date: {{ post.createdOn }}
      </p>
    </div>
    <div class="post-actions">
      <button mat-raised-button color="primary" class="edit-btn">Edit</button>
      <button mat-raised-button color="warn" class="delete-btn">Delete</button>
    </div>
  </div>
  <p class="text">
    {{post.text}}
  </p>
  <div class="image-gallery" *ngIf="post.attachmentImages && post.attachmentImages.length > 0">
    <img class="gallery-item" *ngFor="let image of post.attachmentImages" [src]="image" [alt]="image" />
  </div>
</div>