<div class="blog-post-edit-dialog">
    <h1 mat-dialog-title>Add/Edit blog post</h1>
    <div mat-dialog-content>
      <form [formGroup]="postForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Title of the post" />
          <mat-error *ngIf="postForm.get('title')?.hasError('required')">Title is required</mat-error>
          <mat-error *ngIf="postForm.get('title')?.hasError('maxlength')">
            Title cannot be more than 100 characters long
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Text</mat-label>
          <textarea matInput formControlName="text" placeholder="Text of the post"></textarea>
          <mat-error *ngIf="postForm.get('text')?.hasError('required')">Text is required</mat-error>
          <mat-error *ngIf="postForm.get('text')?.hasError('minlength')">
            Text must be at least 20 characters long
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions class="dialog-actions">
      <button mat-button class="custom-black-button" (click)="onPost()">Post</button>
      <button mat-button class="custom-black-button" (click)="onCancel()">Cancel</button>
    </div>
  </div>
  