<app-base-edit-dialog 
  [title]="labels.dialogTitle" 
  [submitText]="labels.submitButton" 
  [cancelText]="labels.cancelButton"
  (post)="onSubmit()" (cancel)="onCancel()"
  >
  <form [formGroup]="postForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ labels.titleLabel }}</mat-label>
      <input matInput formControlName="title" [placeholder]="labels.titleLabel" />
    </mat-form-field>
    <app-form-validation-errors [control]="postForm.get('title')" [fieldLabel]="labels.titleLabel" [labels]="labels"
    [maxLength]="titleMaxLength"></app-form-validation-errors>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ labels.textLabel }}</mat-label>
      <textarea matInput formControlName="text" [placeholder]="labels.textLabel" style="min-height: 150px;"></textarea>
    </mat-form-field>
    <app-form-validation-errors [control]="postForm.get('text')" [fieldLabel]="labels.textLabel" [labels]="labels"
    [maxLength]="textMaxLength"></app-form-validation-errors>

    <mat-form-field *ngIf="isEditMode" appearance="fill" class="full-width">
      <mat-label>{{ labels.categoriesLabel }}</mat-label>
      <mat-select formControlName="categories" multiple>
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{ category.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</app-base-edit-dialog>