<div class="blog-post-edit-dialog">
  <h1 mat-dialog-title>Add/Edit blog post</h1>
  <div mat-dialog-content>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Title of the post" />
        <mat-error *ngIf="postForm.get('title')?.hasError('required') && postForm.get('title')?.touched">
          Title is required.
        </mat-error>
        <mat-error *ngIf="postForm.get('title')?.hasError('maxlength') && postForm.get('title')?.touched">
          Title cannot exceed {{ titleMaxLength }} characters.
        </mat-error>
        <mat-error *ngIf="postForm.get('title')?.hasError('pattern') && postForm.get('title')?.touched">
          Title can only contain letters, numbers, and spaces.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Text</mat-label>
        <textarea matInput formControlName="text" placeholder="Text of the post"></textarea>
        <mat-error *ngIf="postForm.get('text')?.hasError('required') && postForm.get('text')?.touched">
          Text is required.
        </mat-error>
        <mat-error *ngIf="postForm.get('text')?.hasError('maxlength') && postForm.get('text')?.touched">
          Text cannot exceed {{ textMaxLength }}  characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="isEditMode" appearance="fill" class="full-width">
        <mat-label>Categories</mat-label>
        <mat-select formControlName="categories" multiple>
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{ category.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div mat-dialog-actions class="dialog-actions">
        <button type="submit" mat-button class="custom-black-button">Post</button>
        <button type="button" mat-button class="custom-black-button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>