.app-message {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	max-width: 1000px;
	margin: 20px auto;
	margin-top: 1px;
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #CCC;
	background-color: #F0F0F0;
}

.close-icon {
	padding-left: 16px;
	color: #000;
	font-size: 15px;
	cursor: pointer;
}