@use 'variables' as vars;

.mat-toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: vars.$navbar-height;
	padding: 0 15px;
	background-color: vars.$navbar-background-color;
	color: vars.$navbar-text-color;

	.navbar-search {
		margin-right: 20px;

		input {
			width: vars.$navbar-search-width;
			background-color: #FFF;
		}
	}

	.navbar-links {
		margin-right: 20px;
	}

	.navbar-profile {
		margin-right: 0;
	}

	a {
		margin-right: 15px;
		color: vars.$navbar-text-color;
		font-size: .9rem;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			color: vars.$navbar-hover-color;
		}
	}

	.navbar-blog {
		margin-right: auto;
		font-size: 1.2rem;
		font-weight: 600;
	}
}

.mat-primary {
	height: 100px;
}